<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <div th:replace="mainTemplates/header"></div>

        <body>

            <div th:include="mainTemplates/navbar"></div>

                <div th:class="container">
                    <mvc:errors path="*" cssClass="errorblock" element="div"/>
                    <div class="panel panel-primary">
                        <div class="panel-heading" th:text="#{sources.hpbac.application.title}+${appDetails.applicationName}">

                        </div>
                        <div class="panel-body">
                            <!--<form role="form" action="#" th:action="@{/hpbac/applications/update}">-->
                            <form role="form" method="post" th:action="'/sources/hpbac/applications/update/'"><!--+${appDetails.id}"-->
                                <div class="form-group">
                                    <label for="applicationName" th:text="#{sources.hpbac.application.name.label}"></label>
                                    <input id="applicationName" name="applicationName" type="text" class="form-control" th:value="${appDetails.applicationName}" th:readonly="true">
                                    </input>
                                </div>
                                <div class="form-group">
                                    <label for="displayName" th:text="#{sources.hpbac.application.displayname.label}"></label>
                                    <input id="displayName" name="displayName" type="text" class="form-control" th:value="${appDetails.displayName}">
                                    </input>
                                </div>
                                <button th:type="submit" class="btn btn-success" th:text="#{general.button.save}"></button>
                                <button th:type="reset" class="btn btn-danger" th:text="#{general.button.cancel}"></button>
                            </form>
                        </div>
                    </div>
                </div>

            <div th:include="mainTemplates/footer"></div>

        </body>
    </html>