<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="mainTemplates/header"></div>
<body>

<div th:include="mainTemplates/navbar"></div>

<div th:class="container">
    <h2>HP BAC Aplicaciones</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre de Aplicaci&oacute;n en HP BAC</th>
            <th>Nombre de Visualizaci&oacute;n</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="application : ${applications}">
                <!--<td th:text="${#dates.createToday()}"></td>-->
                <td th:text="${application.applicationName}"></td>
                <td th:text="${application.displayName}"></td>
                <td>
                    <a th:href="'/sources/hpbac/applications/'+${application.id}" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <!-- #TODO: Estos registros de configuración no se deberían poder eliminar
                         #TODO: Ya que así es como vienen automáticamente de la fuente de datos
                    <a th:href="'applications/delete/'+${application.id}" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    -->
                </td>

            </tr>

        </tbody>

    </table>
</div>

<div th:include="mainTemplates/footer"></div>
</body>
</html>