<!DOCTYPE html>
<html>
<div th:replace="mainTemplates/header"></div>
<body>

<div th:include="mainTemplates/navbar"></div>

<div th:class="container">
    <h2>HP BAC Aplicaciones</h2>
    <table class="table table-bordered">
        <thead class="thead-inverse">
        <tr>
            <th>Nombre de Aplicaci&oacute;n en HP BAC</th>
            <th>Nombre de Visualizaci&oacute;n</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hpBacApplication : ${hpBacApplications}">
            <!--<td th:text="${#dates.createToday()}"></td>-->
            <td th:text="${hpBacApplication.applicationName}"></td>
            <td th:text="${hpBacApplication.applicationDisplayName}"></td>
            <td>
                <button th:href="'/hpbac/applications/view/'+${hpBacApplication.id}" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </button>

                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div th:include="mainTemplates/footer"></div>
</body>
</html>