<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="mainTemplates/header"></div>
<body>

<div th:include="mainTemplates/navbar"></div>

<div th:class="container">
    <h2>HP BAC Aplicaciones</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
            <!--TODO: Reemplazar los siguientes textos por mensajes en los archivos de configuración-->
            <th>Nombre de Aplicación en HP BAC</th>
            <th>Nombre de Visualizaci&oacute;n</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="profile : ${profiles}">
                <td th:text="${profile.profileName}"></td>
                <td th:text="${profile.displayName}"></td>
                <td>
                    <a th:href="'/sources/hpbac/profiles/'+${profile.id}" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <!-- #Estos registros de configuración no se deberían poder eliminar
                         #Ya que así es como vienen automáticamente de la fuente de datos
                    <a th:hrebacApplicationsions/delete/bacApplicationtion.id}" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    -->
                </td>

            </tr>

        </tbody>

    </table>
</div>

<div th:include="mainTemplates/footer"></div>
</body>
</html>