<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="modal_title">Titulo</h3>
            </div>
            <div class="modal-body">
                <h5 class="text-center" id="modal_button_pressed">Algun Texto</h5>
                <table class="table table-striped" id="tblGrid">
                    <thead id="myModalHead">
                    </thead>
                    <tbody id="myModalData">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default " data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
