

 <header class="header-container">
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
    <meta name="description" content="Hubble Bridge Analytics"></meta>
    <meta name="keywords" content="Hubble, HP, Helwet, Packard, BSM"></meta>
    <title>Hubble</title>


<!-- <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/webjars/jquery-match-height/jquery.matchHeight-min.js"></script>-->

    <!--<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"></link>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>
    <!--<link rel="stylesheet" href="/css/mainstyle.css"></link>-->
    <!--<link rel="stylesheet" href="/css/cards.css"></link>-->
    <!--<link rel="stylesheet" href="/css/hover_card.css"></link>-->
    <!--<link rel="stylesheet" href="/css/list.css"></link>-->
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css"></link>

     <link rel="stylesheet" href="/vendor/animate.css/animate.css"></link>
     <!--Bootstrap-->
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css"></link>
     <!--Ionicons-->
    <link rel="stylesheet" href="/vendor/ionicons/css/ionicons.css"></link>
     <!--Material Colors-->
    <link rel="stylesheet" href="/vendor/material-colors/dist/colors.css"></link>
     <!--Application styles-->
    <link rel="stylesheet" href="/css/app.css"></link>
</header>
