<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <!--th:fragment="common_header(title)-->
    <meta charset="UTF-8"/>
    <title>Tsoft Analytics Bridge</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
     <div th:class="container">
        <h2>HP BAC Muestras última Hora</h2>
        <table class="table table-bordered">
            <thead class="thead-inverse">
                <tr>
                    <th>Fecha y Hora</th>
                    <th>Nombre de Aplicaci&oacute;n</th>
                    <th>Nombre de Transacci&oacute;n</th>
                    <th>Nombre de Locaci&oacute;n</th>
                    <th>Estado</th>
                    <th>Cantidad de Errores</th>
                    <th>C&oacute;digo de Disponibilidad</th>
                    <th>Tiempo de Respuesta</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="bacSample : ${bacSamples}">
                    <!--<td th:text="${#dates.createToday()}"></td>-->
                    <td th:text="${bacSample.fecha}"></td>
                    <td th:text="${bacSample.applicationName}"></td>
                    <td th:text="${bacSample.transactionName}"></td>
                    <td th:text="${bacSample.locationName}"></td>
                    <td th:text="${bacSample.availabilityStatus}"></td>
                    <td th:text="${bacSample.errorCount}"></td>
                    <td th:text="${bacSample.transactionStatus}"></td>
                    <td th:text="${bacSample.responseTime}"></td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>