<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <div th:replace="mainTemplates/header"></div>

        <body>

            <div th:include="mainTemplates/navbar"></div>
            <div class="container">
                <a href="/sources/hpbac/transactions" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-chevron-left" th:text="#{general.button.returntolist}"></span>
                </a>
            </div>
            <br></br>
            <div th:class="container">
                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="#{sources.hpbac.transaction.title}+${transaction.transactionName}">

                    </div>
                    <div class="panel-body">
                        <!--<form role="form" action="#" th:action="@{/hpbacApplicationsions/update}">-->
                        <form role="form" method="post" th:action="'/sources/hpbac/transactions/update/'+${transaction.id}" th:object="${transaction}"><!--+${appDetails.id}"-->

                            <div class="form-group">
                                <label for="profileName" th:text="#{sources.hpbac.profile.name.label}"></label>
                                <input id="profileName" name="profileName" type="text" class="form-control" th:value="${profileName}" th:readonly="true">
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="transactionName" th:text="#{sources.hpbac.transaction.name.label}"></label>
                                <input id="transactionName" name="transactionName" type="text" class="form-control" th:value="${transaction.transactionName}" th:readonly="true">
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="displayName" th:text="#{sources.hpbac.transaction.displayname.label}"></label>
                                <input id="displayName" name="displayName" type="text" class="form-control" th:value="${transaction.displayName}">
                                </input>
                            </div>
                            <button th:type="submit" class="btn btn-success" th:text="#{general.button.save}"></button>
                            <button th:type="reset" class="btn btn-danger" th:text="#{general.button.cancel}"></button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:include="mainTemplates/footer"></div>

        </body>
    </html>