<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
        <div th:replace="mainTemplates/header"></div>

        <body>

            <div th:include="mainTemplates/navbar"></div>
            <div class="container">
                <a href="/sources/hpbac/locations" type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-chevron-left" th:text="#{general.button.returntolist}"></span>
                </a>
            </div>
            <br></br>
            <div th:class="container">

                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="#{sources.hpbac.location.title}+${location.locationName}">

                    </div>

                    <div class="panel-body">
                        <!--<form role="form" action="#" th:action="@{/hpbacApplicationsions/update}">-->
                        <form role="form" method="post" th:action="'/sources/hpbac/locations/update/'+${location.id}" th:object="${location}"><!--+${appDetails.id}"-->
                            <div class="form-group">
                                <label for="profileName" th:text="#{sources.hpbac.profile.name.label}"></label>
                                <input id="profileName" name="profileName" type="text" class="form-control" th:value="${profileName}" th:readonly="true">
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="transactionName" th:text="#{sources.hpbac.profile.name.label}"></label>
                                <input id="transactionName" name="transactionName" type="text" class="form-control" th:value="${transactionName}" th:readonly="true">
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="locationName" th:text="#{sources.hpbac.location.name.label}"></label>
                                <input id="locationName" name="locationName" type="text" class="form-control" th:value="${location.locationName}" th:readonly="true">
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="displayName" th:text="#{sources.hpbac.location.displayname.label}"></label>
                                <input id="displayName" name="displayName" type="text" class="form-control" th:value="${location.displayName}">
                                </input>
                            </div>
                            <div class="form-group">
                                <div class="checkbox-inline">
                                    <input id="isInternal" name="isInternal" type="checkbox" th:checked="${location.isInternal}" value="true" th:text="#{sources.hpbac.location.isinternal.label}">
                                    </input>
                                </div>
                            </div>
                            <button th:type="submit" class="btn btn-success" th:text="#{general.button.save}"></button>
                            <button th:type="reset" class="btn btn-danger" th:text="#{general.button.cancel}"></button>
                        </form>
                    </div>
                </div>
            </div>

            <div th:include="mainTemplates/footer"></div>

        </body>
    </html>