<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="mainTemplates/header"></div>
<body>

<div th:include="mainTemplates/navbar"></div>

<div th:class="container">
    <h2>HP BAC Locaciones</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-inverse">
        <tr>
            <!--TODO: Reemplazar los siguientes textos por mensajes en los archivos de configuración-->
            <th>Nombre de Aplicación</th>
            <th>Nombre de Transacción</th>
            <th>Nombre de Locación</th>
            <th>Nombre de Visualizaci&oacute;n</th>
            <th>Es sonda interna?</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="location, iterator : ${locations}">
                <td th:text="${profileName[iterator.index]}"></td>
                <td th:text="${transactionName[iterator.index]}"></td>
                <td th:text="${location.locationName}"></td>
                <td th:text="${location.displayName}"></td>
                <td>
                    <label>
                        <input type="checkbox" th:checked="${location.isInternal}" disabled="true">

                        </input>
                    </label>
                </td>
                <td>
                    <a th:href="'/sources/hpbac/locations/'+${location.id}" type="button" class="btn btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <!-- #Estos registros de configuración no se deberían poder eliminar
                         #Ya que así es como vienen automáticamente de la fuente de datos
                    <a th:hrebacApplicationsions/delete/bacApplicationtion.id}" type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                    -->
                </td>

            </tr>

        </tbody>

    </table>
</div>

<div th:include="mainTemplates/footer"></div>
</body>
</html>