* {
margin:0;
padding:0;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	padding-top: 50px;
	position: relative;
}

main {
	flex: 1 0 auto;
}

/* Footer */

footer{
	background-color: #424558;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 35px;
	text-align: center;
	color: #CCC;
}

footer p {
	padding: 10.5px;
	margin: 0px;
	line-height: 100%;
}

pre {
	tab-size: 8;
}

@media screen and (max-width: 768px) {
	.side-collapse-container{
		width:100%;
		position:relative;
		left:0;
		transition:left .4s;
	}
	.side-collapse-container.out{
		left:200px;
	}
	.side-collapse {
		top:50px;
		bottom:0;
		left:0;
		width:200px;
		position:fixed;
		overflow:hidden;
		transition:width .4s;
	}
	.side-collapse.in {
		width:0;
	}
}

.col-centered{
	float: none;
	margin: 0 auto;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
.icon-bar .navbar-brand {
  background: url(http://www.tsoftlatam.com/site/img/logo_home.png) 
  center / contain no-repeat;
  width: 200px;

}

