<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> <!--th:fragment="common_header(title)-->
    <meta charset="UTF-8"/>
    <title> <!--th:replace="${title}"-->Tsoft Analytics Bridge</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"></link>
    <script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-3.2.1.min.js"></script>
</head>
<body>
    <p>Please select an option</p>
    <ol>
        <li><a href="product/list.html" th:href="@{/product/list}">Product List</a></li>
        <li><a href="order/list.html" th:href="@{/order/list}">Order List</a></li>
        <li><a href="subscribe.html" th:href="@{/subscribe}">Subscribe to our Newsletter</a></li>
        <li><a href="userprofile.html" th:href="@{/userprofile}">See User Profile</a></li>
    </ol>

    <div th:class="container">
        <h2>Basic Table</h2>
        <table class="table">
            <thead>
            <tr th:each="book : ${books}">
                <th th:text="${book.id}"></th>
                <th th:text="${book.bookName}"></th>
                <th th:text="${book.author}"></th>
                <th th:text="${book.purchaseDate}"></th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

</body>
</html>