<!DOCTYPE html>
<html>
<div th:replace="header"></div>
<body>

    <div th:replace="navbar"></div>

<div class="containerList">
      <h2 th:text="${entity.businessApplicationName}"></h2>
      <p>Ultimos 10 Minutos</p>            

    <div class="listWrap">
    
        <ul class="list">
            <li>
                <span>Fecha y Hora</span>
                <span>Nombre de Aplicaci&oacute;n</span>
                <span>Nombre de Transacci&oacute;n</span>
                <span>Nombre de Locaci&oacute;n</span>
                <span>Estado</span>
                <span>Cantidad de Errores</span>
                <span>C&oacute;digo de Disponibilidad</span>
                <span>Tiempo de Respuesta (s)</span>
                <span></span>
            </li>
            <li th:each="reg : ${regs}">
                <span th:text="${reg.timestamp}"></span>
                <span th:text="${reg.providerName}"></span>
                <span th:text="${reg.transaction}" ></span>
                <span th:text="${reg.locationName}"></span>
                <span th:text="${reg.availabilityStatus}"></span>

                <span></span>

            </li>
         
            <li>

            </li>
        </ul>

    </div>

</div>

<script src="http://code.jquery.com/color/jquery.color-2.1.2.min.js" integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE=" crossorigin="anonymous"></script>

  <!--   <li class="collection-header"><h4 th:text="${entity.businessApplicationName}"></h4></li>
    <table class="highlight">
        <thead>
            <tr>
                <th>Fecha y Hora</th>
                <th>Proceso de Negocio</th>
                <th>Transacción</th>
                <th>Locación</th>
                <th>Disponibilidad</th>
            </tr>
        </thead>        
        <tbody>
            <tr th:each="reg : ${regs}">
                <td th:text="${reg.timestamp}"></td>
                <td th:text="${reg.businessProcess}"></td>
                <td th:text="${reg.transaction}"></td>
                <td th:text="${reg.locationName}"></td>
                <td th:text="${reg.availabilityStatus}"></td>
            </tr>
        </tbody> 
    </table>
-->

<div th:replace="footer"></div>
</body>
</html>